<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Maven Applications">
    <meta name="author" content="Franek Jemiolo">
    <title>Maven Apps</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row">
        {% for app_group in applications %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>{{ app_group['category'] }}</h1>
                <hr>
            </div>
            {% for app in app_group['applications'] %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card">
                    <img class="card-img-top" src="{{ app['image'] }}" alt="{{ app['name'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ app['name'] }}</h5>
                        <p class="card-text">{{ app['description'] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>